body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7b7777;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-heading{
  font-size: 25px;
  font-weight: bolder;
}
.landing-container{
  position: relative;
  margin-top: 2px;
  background-image: url('https://images.pexels.com/photos/242827/pexels-photo-242827.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
}
.description{
  color: white;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.heading{
  display: block;
  font-size: 3em;
  font-weight: bolder;
}
.heading-two{
  display: block;
  font-size: 1.5em;
  font-weight: bolder;
}


/* /--css for filter */
.filter-container{
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
  /* border-radius: 8px; */
  /* background-color: red; */

  justify-content: center;
  justify-items: center;
}
.filter-heading{
  font-weight: bolder;
  font-size: 20px;
  color: white;
}


/* css loader */
.loader {
  margin: auto;
  margin-top: 10px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.fa-close:hover{
  cursor: pointer;
}

/* ---- common css */
.bg-black{
  background-color: black;
}
.bg-red{
  color: red;
}
.text-white{
  color: white;
}

